# Archivos compilados
__pycache__/
*.py[cod]
*$py.class

# Entornos virtuales
venv/
env/
ENV/

# Archivos de configuración
*.env

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de editor
.vscode/
.idea/

# Archivos de logs
*.log

# Archivos de base de datos
*.sqlite3

# Archivos temporales
*.tmp